<!-- views/partials/_header.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% if (user) { %>
    <p>Welcome, <%= user.id %>!</p>
    <form method="POST" action="/logout">
      <button type="submit" name="logout">Logout</button>
    </form>
  <% } else { %>
    <div>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
  <% } %>
</body>
</html>