<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <title>TinyApp</title> -->
  <% include ./partials/_header %>
</head>
<body>
  <p>Short URL: <%= shortURL %></p>
  <p>Long URL: <%= longURL %></p>
  <form method="POST" action="/urls/:id">
    <input id="shortURL" type="hidden" name="shortURL" value="<%= shortURL %>">
    <input id="longURL" type="text" name="longURL" style="width: 300px">
    <input type="submit" value="Update">
  </form>
</body>
</html>