<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <title>TinyApp</title> -->
  <% include ./partials/_header %>
</head>
<body>
  <ul>
    <% for (key of Object.keys(urlDb)) { %>
      <form method="POST" action="/urls/<%= key %>/delete">
        <li>
          http://localhost:8080/<%= key %> (<%= urlDb[key] %>)
          <input type="hidden" id="delete" name="delete" value="<%= key %>">
          <input type="submit" value="Delete">
        </li>
      </form>
    <% }; %>
  </ul>
</body>
</html>