<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <title>TinyApp</title> -->
  <% include ./partials/_header %>
</head>
<body>
  <ul>
    <% for (key of Object.keys(urlDb)) { %>
      <li><%= urlDb[key] %></li>
    <% }; %>
  </ul>
</body>
</html>